body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: white;
}


.logo-links {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
}


.header {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    
    font-size: 18px;
}


a {
    color: white;
    text-decoration: none;

}

.links {
    display: flex;
    gap: 16px;
    font-size: 14px;

}

.below-logo {
    display: flex;
    justify-content: space-between;   
    background: linear-gradient(#081422dc 10%, #000208 75%);
    height: 600px;
    
}

.left-below{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 100px;
}

.Fronttext{
    font-size: 50px;
    
}

a:hover {
  text-decoration: underline;
  color: #00bfff;
}

.first-img{
    align-self: center;
}

.first-img img {
  margin-right: 100px;
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s;
  flex-shrink: 0;
}

.first-img img:hover {
  transform: scale(1.05);
}

.aboutexperience{
    min-height: 10vh;
    background-color: #213448;
    display: flex;
    flex-direction: column;
    padding: 80px;
    gap: 100px;

}

.aboutme{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.aboutme-title{
    font-size: 32px;
}
.experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

hr {
  border: none;
  height: 1.5px;
  background-color: white; /* or any visible color */
  margin: 7px 0;
  width: 100%;
}

.experience-title{
    font-size: 32px;
}

.card {
  background-color: #94B4C1;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  width: 260px;
  height: 130px;
  padding: 48px;
  margin: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 25px;
}

.card:hover {
  transform: scale(1.04);
  background-color: #7d9eaa; /* slightly darker on hover */
  cursor: pointer;
}


.projects{
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #547792;
    padding: 80px;
    gap: 30px;

}

.belowprojecttitle{
    display: flex;
    flex-wrap: wrap;
    background-color: #547792;
    justify-content: center;
}

.projecttitle{
    font-size: 32px;

}

.contacts{
    display: flex;
    background-color: #ECEFCA;
    min-height: 280px;
    padding: 80px;
    flex-direction: column;
    color: #213448;
}


.contacttitle{
    font-size: 32px;
    color: #213448;

}

.darkhr {
  border: none;
  height: 1.5px;
  background-color: #213448; /* dark navy */
  margin: 7px 0;
  width: 100%;
}

.actualcontact{
    display: flex;
    justify-content: center;
}

.card2 {
  background: linear-gradient(to bottom, #94B4C1 80%, white 20%);
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  width: 160px;
  height: 160px;
  padding: 48px;
  margin: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.card2:hover {
  transform: scale(1.04);
  background-color: #7d9eaa; /* slightly darker on hover */
  cursor: pointer;
}


button{
    padding: 0px;
    margin: 0px;
}
img{
    width: 100px;
    height: 100px;
}

.contactlabel {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
